body{
	background: radial-gradient(#ffffff, #000000);
}

p{
	color: #000000;
	font-family: 'Roboto', sans-serif;
}

a{
	color: #ffffff;
	text-decoration: underline;
}

#centraltext{
	top: 40%;
	position: fixed;
	text-align: center;    
	width: 100%;
	font-size: 48pt;
}

#footer{ 
	bottom: 1%;
	position: fixed;
	text-align: center;    
	width: 100%;
	font-size: 12pt;
}

.central{
	text-align: center;    
	width: 100%;
}